<div class="movies-container">
    <div class="section-header">
    <h3>Phim Hàn Quốc mới</h3>
    <a href="#" class="view-all">Xem toàn bộ ➤</a>
    </div>
    <div class="movie-list">
        <div class="movie">
            <img src="https://static.nutscdn.com/vimg/400-0/634aadf0258c3344818ec2a8d4fb978a.jpg" alt="Anh em đại bàng">
            <p>Anh em đại bàng</p>
            <app-movies-detail class="movie-detail-1"></app-movies-detail>
        </div>
        <div class="movie">
            <img src="https://static.nutscdn.com/vimg/400-0/7d2f1a423da30aabfc8384e1c4f51283.jpg" alt="Trái Tim Bị Chôn Vùi">
            <p>Trái Tim Bị Chôn Vùi</p>
            <app-movies-detail class="movie-detail-1"></app-movies-detail>
        </div>
        <div class="movie">
            <img src="https://static.nutscdn.com/vimg/400-0/8e0679fe3c48c5faa1d0ecdfb0a02f23.jpg" alt="Kẻ Thù Dấu Yêu">
            <p>Kẻ Thù Dấu Yêu</p>
            <app-movies-detail class="movie-detail-1"></app-movies-detail>
        </div>
    </div>