<header class="main-header">
    <div class="header-top">
        <div class="logo">
            <a href="http://localhost:4200/"><img src="assets/image/logo.png" alt="RoPhim Logo" /></a>
            <div class="logo-text">
                <div class="title">
                    <h3>Chill Movie</h3>
                </div>
                <div class="slogan">
                    <h4>Phim hay chill cả ngày</h4>
                </div>
            </div>
        </div>
        <div class="search-wrapper">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Tìm kiếm phim, diễn viên" />
        </div>
        <nav class="main-menu">
            <a href="#">Chủ Đề</a>
            <a href="#">Duyệt tìm</a>
            <a href="#">Phim Lẻ</a>
            <a href="#">Phim Bộ</a>
            <a href="#">Quốc gia <i class="fa fa-caret-down"></i></a>
            <a href="#">Diễn Viên</a>
            <a href="#">Lịch chiếu</a>
        </nav>
        <button class="member-btn">
        <i class="fa fa-user"></i>Thành viên
      </button>
    </div>
</header>