<div class="category-container">
  <h2>Bạn đang quan tâm gì?</h2>
  <div class="category-list">
      <div class="category" style="background-color: rgb(116, 45, 75)">Marvel
        <p>Xem chủ đề ></p>
      </div>
      <div class="category" style="background-color: rgb(94, 0, 208)">Phù Thủy
        <p>Xem chủ đề ></p>
      </div>
      <div class="category" style="background-color: rgb(37, 187, 132);">Sitcom
        <p>Xem chủ đề ></p>
      </div>
      <div class="category" style="background-color: rgb(115, 86, 177);">Lồng Tiếng Cực Mạnh
        <p>Xem chủ đề ></p>
      </div>
      <div class="category" style="background-color: rgb(169, 135, 98);">Xuyên Không
        <p>Xem chủ đề ></p>
      </div>
      <div class="category" style="background-color: rgb(255, 249, 93);">Phim 9x
        <p>Xem chủ đề ></p>
      </div>
      
      <div class="topics">+3 chủ đề</div>
  </div>
</div>