<div class="movie-list">
    <h2>Phim Điện Ảnh Mới Coóng 
        <a href="#" class="seeMore-btn">
            <i class="ri-arrow-right-s-line"></i>
            <span>Xem thêm</span>
        </a>
    </h2>
    <div class="movies">
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
        <div class="movie-container">
            <a class="movie-card" href="/">
                <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
                <div class="sub">P.Đề</div>
                <p class="title">Chồng Cũ</p>
            </a>
            <app-moviedetail-popup class="movie-popup-1"></app-moviedetail-popup>
        </div>
    </div>
</div>
