<div class="movie-popup">
    <img class="movie-poster" src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="">
    <div class="popup-content">
        <h3 class="title-viet">Chồng Cũ</h3>
        <p class="title-eng">Ex-husband</p>
        <button class="watch-now"> <i class="ri-play-fill"></i> Xem ngay</button>
        <button class="like-btn"> <i class="ri-heart-3-fill"></i> Thích</button>
        <button class="detail-btn"><i class="ri-information-fill"></i> Chi tiết</button>
        <div class="movie-info">
            <span class="imdb">IMDb <b>6.0</b></span>
            <span class="age">T16</span>
            <span class="year">2025</span>
            <span class="duration">2h 8m</span>
        </div>
        <p class="genres">Chính kịch • Khoa học</p>
    </div>
</div>