<div class="raking-board">
    <div class="trending-movie">
        <h3 class="title"><i class="ri-clapperboard-fill"></i> SÔI NỔI NHẤT</h3>
        <app-list-ranking-movie></app-list-ranking-movie>
        <p class="see_more">Xem Thêm</p>
    </div>
    <div class="favorite-movie">
        <h3 class="title"><i class="ri-heart-add-fill"></i> YÊU THÍCH NHẤT</h3>
        <app-list-ranking-movie></app-list-ranking-movie>
        <p class="see_more">Xem Thêm</p>
    </div>
    <div class="new-comment">
        <h3 class="title"><i class="ri-flashlight-fill"></i> BÌNH LUẬN MỚI</h3>
        <app-comment></app-comment>
    </div>
</div>