<div class="list-raking">
    <div class="list-raking-movie">
        <span class="number-movie">1. </span>
        <div class="icon-racking"><i class="ri-arrow-right-up-line"></i></div>
    <!-- </i><i class="ri-arrow-right-down-line"> -->
        <img  src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
        <a href="#" class="title"><p >Chồng Cũ</p></a>
    </div>
    <div class="list-raking-movie">
        <span class="number-movie">2. </span>
        <div class="icon-racking"><i class="ri-arrow-right-up-line"></i></div>
    <!-- </i><i class="ri-arrow-right-down-line"> -->
        <img  src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
        <a href="#" class="title"><p >Chồng Cũ</p></a>
    </div>
    <div class="list-raking-movie">
        <span class="number-movie">3. </span>
        <div class="icon-racking"><i class="ri-arrow-right-up-line"></i></div>
    <!-- </i><i class="ri-arrow-right-down-line"> -->
        <img  src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
        <a href="#" class="title"><p >Chồng Cũ</p></a>
    </div>
    <div class="list-raking-movie">
        <span class="number-movie">4. </span>
        <div class="icon-racking"><i class="ri-arrow-right-up-line"></i></div>
    <!-- </i><i class="ri-arrow-right-down-line"> -->
        <img  src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
        <a href="#" class="title"><p >Chồng Cũ</p></a>
    </div>
    <div class="list-raking-movie">
        <span class="number-movie">5. </span>
        <div class="icon-racking"><i class="ri-arrow-right-up-line"></i></div>
    <!-- </i><i class="ri-arrow-right-down-line"> -->
        <img  src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="Chồng Cũ">
        <a href="#" class="title"><p >Chồng Cũ</p></a>
    </div>
</div>