<div class="movie-detail">
    <img class="movie-poster" src="https://static.nutscdn.com/vimg/400-0/634aadf0258c3344818ec2a8d4fb978a.jpg" alt="">
    <div class="detail-content">
        <h3 class="title-viet">Anh Em Đại Bàng</h3>
        <p class="title-eng">For Eagle Brothers</p>
        <button class="watch-now"> <i class="ri-play-fill"></i> Xem ngay</button>
        <button class="like-btn"> <i class="ri-heart-3-fill"></i> Thích</button>
        <button class="detail-btn"><i class="ri-information-fill"></i> Chi tiết</button>
        <div class="movie-info">
            <span class="imdb">IMDb <b>5.5</b></span>
            <span class="age">T16</span>
            <span class="year">2025</span>
            <span class="part">Phần 1</span>
        </div>
        <p class="genres">Chính kịch • Tình cảm • Gia đình • Đời thường</p>
    </div>
</div>