<div class="comment-movie">
    <div class="user-comment-movie">
        <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="">
        <div class="comment-content">
            <div class="content">
                <div class="user-name">Hân</div>
                <p class="user-content">Phim hay điên</p>
            </div>
            <p class="movie-name"><i class="ri-play-fill"></i>Khi Cuộc đời cho bạn 1 quả quýt</p>
        </div>
    </div>
    <div class="user-comment-movie">
        <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="">
        <div class="comment-content">
            <div class="content">
                <div class="user-name">Hân</div>
                <p class="user-content">Phim hay điên</p>
            </div>
            <p class="movie-name"><i class="ri-play-fill"></i>Khi Cuộc đời cho bạn 1 quả quýt</p>
        </div>
    </div>
    <div class="user-comment-movie">
        <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="">
        <div class="comment-content">
            <div class="content">
                <div class="user-name">Hân</div>
                <p class="user-content">Phim hay điên</p>
            </div>
            <p class="movie-name"><i class="ri-play-fill"></i>Khi Cuộc đời cho bạn 1 quả quýt</p>
        </div>
    </div>
    <div class="user-comment-movie">
        <img src="https://static.nutscdn.com/vimg/300-0/8a3b9bb738bf70650113e0392f76d793.jpg" alt="">
        <div class="comment-content">
            <div class="content">
                <div class="user-name">Hân</div>
                <p class="user-content">Phim hay điên</p>
            </div>
            <p class="movie-name"><i class="ri-play-fill"></i>Khi Cuộc đời cho bạn 1 quả quýt</p>
        </div>
    </div>
</div>